<!DOCTYPE html>
<html>

<head>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <title>Casting Agency</title>
    <script>logOut = () => {
            localStorage.clear()
            // window.location.href = 'https://rawanmac.us.auth0.com/logout'
        };</script>
</head>

<body>
    <div style="text-align: center;">
        <h1 style="color: palevioletred;">Casting Agency</h1>
    </div>
    <div style="text-align: center; margin-top: 50px;">
        <button><a
                href="https://rawanmac.us.auth0.com/authorize?audience=casting-agency&response_type=token&client_id=V5DHqE8iYgi7ZwsnGtGUGSQUBmS2x7L3&redirect_uri=https://fsnd-capstone-rawan.herokuapp.com/callback">login</a></button>
    </div>
    <!-- <button onclick="logOut()"><a>logout</a></button>


    <div style="text-align: center; margin-top: 20px;">
        <button><a href="/movies">movies</a></button>
        <button><a href="/actors">actors</a></button>
    </div>  -->
    <!-- <div style="text-align: center; margin-top: 20px;">
        <button><a href="/movies">movies</a></button>
        <button><a href="actor_form.js">add actor</a></button>
    </div> -->


</body>

</html>